<%= render('layouts/errors', :object => @listing) %>

<%= form_for [@location, @listing] do |f| %>
<%= f.label :rooms %>
<%= f.text_field :rooms %>
<%= f.label :price %>
<%= f.text_field :price %>
<%= f.file_field :image %>
<p><%= f.submit %></p>
<% end %>
