<!DOCTYPE html>
<html>
<head>
  <title>Airbnbee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <% if user_signed_in? %>

  <ul class="nav navbar-nav navbar-right">
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= image_tag @user.avatar.url(:thumb) %>
</ul>

  <% else %>
  <ul class="nav navbar-nav pull-right">
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
</ul>
  <% end %>


  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>
</div>
</body>
</html>
