<!DOCTYPE html>
<html>
<head>
  <title>Airbnbee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand|Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="jumbotron">
    <div class="container">

        <div class="nav navbar-nav navbar-right">
          <div class="navbar-header">
            <% if user_signed_in? %>
            <ul>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>

            <%= image_tag current_user.avatar.url(:thumb), :class => "img-circle", :width => "40px" %>


            </ul>


            <% else %>
            <ul class="nav navbar-nav pull-right">
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
            </ul>
          <% end %>
        </div>
      </div>



    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    <h2><%= link_to 'Home', members_path %></h2>
    <h2><%= link_to 'Add City', locations_path %></h2>
  </div>
</div>
</body>
</html>
